option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 20
  aws:elb:healthcheck:
    HealthyThreshold: "2"
    Interval: "15"
    Timeout: "5"
    UnhealthyThreshold: "3"
    Target: "HTTP:80/"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: default
  aws:autoscaling:asg:
    MinSize: "1"
    MaxSize: "2"
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Fixed
    BatchSize: "1"